@model IEnumerable<ProductModel>

@{
    ViewData["title"] = "List product";
    Paginate pager = new Paginate();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<a class="btn btn-success btn-sm" asp-action="Create" asp-controller="Product"><i class="fa-solid fa-plus"></i></a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sold</th>
            <th scope="col">Slug</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
         
            <th  scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
         
                <th scope="row">@item.Id</th>
                <td><img style="width:50px; object-fit:cover" src="~/media/products/@item.Image" /></td>
                <td>@item.Name</td>
                <td><p>@item.Quantity</p><span><a asp-action="AddQuantity" asp-controller="Product" asp-route-Id="@item.Id">Add quantity</a></span></td>
                <td>@item.Sold</td>
                <td>@item.slug</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@item.Price.ToString("#,##0 VNĐ")</td>
                <td>@item.Brand.Name</td>
                <td>@item.Category.Name</td>

                <td style="display:flex;">
                    <a style="margin-right:6px" class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id"><i class="fa-solid fa-pen-nib"></i></a>
                    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-controller="Product" asp-route-Id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
   
            </tr>
        }
    </tbody>
</table>

@* <partial name="_Paging" model="@pager"></partial> *@

@section Scripts{
    <script>
        let table = new DataTable('#myTable');
    </script>
}


